{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baykar | UAVs List</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>

{% block content %}
{% include "app/navbar.html" %}
<div class="container mx-auto mt-8 bg-gray-50 text-gray-900">
    <h2 class="text-2xl font-semibold m-4">UAV List</h2>
    <div class="flex flex-col">
        <div class="w-full">
            <div class="p-4 border-b border-gray-200 shadow">
                <table id="uavTable">
                    <thead class="bg-gray-200">
                        <tr>
                            <th>ID</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Weight</th>
                            <th>Category</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="hidden fixed inset-0 bg-black bg-opacity-75 overflow-y-auto" id="editModal">
    <div class="flex items-center justify-center min-h-screen">
        <div class="p-6 rounded w-96" style="background-color: #142143;">
            <h2 class="text-xl font-semibold mb-4 text-gray-50">Rent UAV</h2>
            <form id="rentUAVForm" class="text-gray-50"></form>
            <div class="form-group m-3">
                <label for="modal_start_date" class="block text-sm font-medium mt-4">Start Date:</label>
                <input type="datetime-local" class="mt-1 p-2 w-full border rounded" id="modal_start_date"
                    name="modal_start_date" style="background-color: #212d4a">
            </div>

            <div class="form-group m-3">
                <label for="modal_end_date" class="block text-sm font-medium mt-4">End Date:</label>
                <input type="datetime-local" class="mt-1 p-2 w-full border rounded" id="modal_end_date"
                    name="modal_end_date" style="background-color: #212d4a">
            </div>

            <input type="number" name="modal_renter" id="modal_renter" class="hidden" style="background-color: #212d4a">
            <input type="number" name="modal_uav" id="modal_uav" class="hidden" style="background-color: #212d4a">

            <button id="saveEditModalBtn" type="submit" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded"
                onclick="editUAV()">Save Changes</button>
            </form>
            <button id="closeEditModalBtn" class="mt-4 px-4 py-2 bg-red-500 text-white rounded">Close</button>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#uavTable').DataTable({
            ajax: {
                url: '/api/uav/',
                dataSrc: ''
            },
            columns: [
                {
                    data: 'id',
                    className: 'text-center'
                },
                {
                    data: 'brand',
                    className: 'text-center'
                },
                {
                    data: 'model',
                    className: 'text-center'
                },
                {
                    data: 'weight',
                    className: 'text-center'
                },
                {
                    data: 'category',
                    className: 'text-center'
                },
                {
                    "render": function (data, type, row) {
                        return '<button type="button" id="editUAVBtn" class="bg-blue-500 text-white py-2 px-4 rounded-md transition duration-300 ease-in-out hover:bg-blue-600" data-bs-target="#editModal" onclick="getData(' + row.id + ')">Rent</button>';
                    }
                }
            ]
        });
    });
    $('#closeEditModalBtn').on('click', function () {
        $('#editModal').addClass('hidden');
    });

    function getData(id) {
        $('#editModal').removeClass('hidden');
        $('#saveEditModalBtn').attr('onclick', `rentUAV(${id})`);
    }

    function rentUAV(id) {
        let renter = "{{ request.user.id }}";
        let uav = id;
        let rent_start_date = $('#modal_start_date').val();
        let rent_end_date = $('#modal_end_date').val();

        $.ajax({
            url: `/api/uav-rental/`,
            method: "POST",
            headers: {
                'X-CSRFToken': '{{csrf_token}}'
            },
            data: {
                "rent_start_date": rent_start_date,
                "rent_end_date": rent_end_date,
                "renter": renter,
                "uav": uav,
            },
            success: function (data, status) {
                alert('Successfully rented.')
                $('#dataTable').DataTable().ajax.reload();
                $('#editModal').addClass('hidden');
            },
            error: function (error) {
                console.error("Error:", error);
            }
        });
    }
</script>
{% endblock %}

</html>