{% extends "app/base.html" %}

{% block title %}
Sign In
{% endblock %}

{% load static %}

{% block body_class %}
"flex items-center justify-center h-screen"
{% endblock %}

{% block content %}
<div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
    <div class="relative px-4 py-10 shadow-lg sm:rounded-3xl sm:p-20" style="background-color: #212d4a;">
        <div class="max-w-md mx-auto">
            <div class="justify-content-center">
                <img src="{% static 'images/Baykar-Logo.svg' %}" alt="Baykar Logo" width="205" height="23">
                <h1 class="text-2xl mt-2 font-semibold">UAV Rental Platform</h1>
            </div>
            <form id="loginForm" class="divide-y divide-gray-200 text-gray-100">
                <div class="py-8 text-base leading-6 space-y-4 sm:text-md sm:leading-7">
                    <div class="relative">
                        <input autocomplete="off" id="email" style="background-color: #212d4a;" name="email" type="text" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 focus:outline-none focus:border-blue-400" placeholder="Email address" />
                        <label for="email" class="absolute left-0 -top-3.5 text-gray-300 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-300 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-400 peer-focus:text-sm">Email Address</label>
                    </div>
                    <div class="relative">
                        <input autocomplete="off" id="password" style="background-color: #212d4a;" name="password" type="password" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 focus:outline-none focus:border-blue-400" placeholder="Password" />
                        <label for="password" class="absolute left-0 -top-3.5 text-gray-300 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-300 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-400 peer-focus:text-sm">Password</label>
                    </div>
                    <div class="relative">
                        <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white rounded-md px-4 py-1 transition-colors">Sign In</button>
                    </div>                    
                    <div class="mt-3 text-center">
                        <p class="text-muted">Don't have an account? <a href="{% url 'app:register' %}" class="font-weight-bold underline">Sign Up</a></p>
                    </div>
                </div>
            </form>

            <!-- Messages container -->
            <div id="messageContainer" style="display: none;">
                <ul class="messages" id="messagesList"></ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        const loginForm = document.getElementById('loginForm');
        const messageContainer = document.getElementById('messageContainer');
        const messagesList = document.getElementById('messagesList');

        loginForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            const formData = new FormData(loginForm);
            const data = {
                email: formData.get('email'),
                password: formData.get('password')
            };

            try {
                const response = await fetch('/api/login/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{csrf_token}}'
                    },
                    body: JSON.stringify(data),
                    credentials: 'same-origin',
                });

                if (response.ok) {
                    // login
                    const responseData = await response.json();
                    console.log(responseData);

                    showMessage(responseData.message, 'success');

                    setTimeout(() => {
                        window.location.href = '/';
                    }, 1000);
                } else {
                    const errorData = await response.json();
                    for (const field in errorData.message) {
                        for (const errorDetail of errorData.message[field]) {
                            showMessage(`${errorDetail}`, 'error');
                        }
                    }
                }
            } catch (error) {
                console.error('Error during login:', error);
                showMessage('Error during login:' +errorData.message, 'error');
            }
        });

        function showMessage(message, type) {
            messagesList.innerHTML = `<li class="${type}">${message}</li>`;
            messageContainer.style.display = 'block';
        }
    </script>
{% endblock %}